 <%= form_for @main_goal do |f| %>
 <h4>Create Your Five Goal Steps:</h4>
 Goal steps are small steps to make towards your larger goal!<br><br>
<%= f.fields_for :goal_steps, @main_goal.goal_steps.build do |goal_step_fields| %>
  <%= f.label "Title" %>
  <%= goal_step_fields.text_field :title %><br>
  <%= f.label "summary" %>
  <%= goal_step_fields.text_field :summary %><br>
 <% end %>
 <%= f.submit %>
 <% end %>
