<h1><%= @main_goal.title %></h1>
<h3><%= @main_goal.status %></h3>
<h3>Due <%= @main_goal.duedate.to_time.strftime('%B %e') %></h3>
<p><%= @main_goal.summary %></p>
<% @main_goal.categories.each do |category| %>
   <p><%= link_to "#{category.name}", category_path(category) %></p>
<% end %>

 <h3>Goals Steps:</h3>
 <p><%= link_to "Goal Steps", main_goal_goal_steps_path(@main_goal) %></p>

 <%= form_for @main_goal do |f| %>
    <%= f.hidden_field :status, value: "Completed" %>
    <%= f.submit "Completed",data: { confirm: 'Congrats on acheiving your goal!' }  %>
    <% if @main_goal.goal_steps.length < 5 %>
    <%= render 'goal_step_form' %>
    <% end %>
  <% end %>

<%= link_to 'Destroy', @main_goal, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to "Edit Goal", edit_main_goal_path %>
