<h1>Goal: <%= @main_goal.title.capitalize %></h1>
<p>Status: <%= @main_goal.status.capitalize %></p>
<p>Due: <%= @main_goal.duedate.to_time.strftime('%B %e').capitalize %></p>
<p>Summary: <%= @main_goal.summary.capitalize %></p>

<h4>Categories:</h4>
 <% @main_goal.categories.each do |category| %>
    <p><%= link_to "#{category.name.capitalize}", category_path(category) %></p>
 <% end %>


 <h4>Goals Steps:</h4>
 <p><%= link_to "Goal Steps", main_goal_goal_steps_path(@main_goal), :class => "load_goal_steps" %></p>


<div class="goal_steps">
  <ol>
  </ol>
  <p></p>
</div>

<div class="goal_step_info">
  <h1></h1>
  <h3></h3>
  <h4></h4>
</div>

<%= form_for [@main_goal, @goal_step] do |f| %>
<%= f.label :title, 'New Goal Step Title' %><br>
<%= f.text_field :title %><br>
<%= f.label :summary, 'New Goal Step Summary' %><br>
<%= f.text_area :summary %><br>
<%= f.submit 'Create Goal!', :class => 'submit_goal' %>
<% end %>


<% if current_user.id == @main_goal.user_id %>
 <%= form_for @main_goal do |f| %>
    <%= f.hidden_field :status, value: "Completed" %>
    <%= f.submit "Goal Completed",data: { confirm: 'Congrats on acheiving your goal!' }  %>
  <% end %>
  <%= link_to 'Delete Goal', @main_goal, method: :delete, data: { confirm: 'Are you sure?' } %><br>
  <%= link_to "Edit Goal", edit_main_goal_path %>
<% end %>
