<h1><%= @main_goal.name %></h1>
<h3><%= @main_goal.status %></h3>
<p><%= @main_goal.summary %></p>

<h3>Goals Steps:</h3>
 <% @main_goal.goal_steps.each do |goal_step| %>
    <p><%= link_to "#{goal_step.name} - #{goal_step.status}", goal_step_path(goal_step) %></p>
 <% end %>

 <% if @main_goal.goal_steps.length < 5 %>
 <h3>Add another step towards your goal<h3>
  <%= form_tag({controller: "goal_steps", action:"create"}, method: "post") do %>
   <label>Goal name:</label><br>
   <%= text_field_tag :'goal_step[name]' %><br>
   <label>Goal summary:</label><br>
   <%= text_field_tag :'goal_step[summary]' %><br>
   <%= hidden_field_tag 'goal_step[main_goal_id]', @main_goal.id %>
   <%= submit_tag("Add Goal Step") %>
   <% end %>
  <% end %>

  <%= form_for @main_goal do |f| %>
    <%= f.hidden_field :status, value: "Completed" %>
    <%= f.submit "Completed" %>
  <% end %>


<%= link_to 'Destroy', @main_goal, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to "Edit Goal", edit_main_goal_path %>
