<h1>Goal: <%= @goal_step.title %></h1>
<p>Stats: <%= @goal_step.status %></p>
<p>summary: <%= @goal_step.summary %></p>


<%= form_for(@goal_step, url: { action: "update" }) do |f| %>
  <%= f.hidden_field :status, value: "Completed" %>
  <%= f.submit "Completed",data: { confirm: 'Congrats on acheiving your goal!' }  %>
<% end %><br>

<%= link_to "Main Goal", main_goal_path(@goal_step.main_goal_id) %><br>
